<%- include("../partials/header") %>
    <div class="container">
        <div class="row">
            <div class="col-mid-4">
                <div class="thumbnail">
                    <h2><%=user.firstName%> <%=user.lastName%></h2>
                    <img src="<%=user.avatar%>" alt="User's Profile Image">
                </div>
            </div>
            <div class="col-md-8">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis iusto ullam voluptatum suscipit qui voluptatem magnam eos eum earum sit incidunt exercitationem possimus, tempora quis in. Tempora a adipisci consequatur.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione eligendi repellat molestiae id odio reprehenderit, nihil molestias alias et, nulla optio quo vero maiores deleniti sequi. Qui inventore labore numquam!
            </div>
        </div>
    </div>
    
<%- include("../partials/footer") %>